# порты
APP_PORT=3005

# Postgres 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# WB / Google
WB_API_TOKEN=stub-wb-token
WB_API_BASE_URL=https://common-api.wildberries.ru
GOOGLE_SHEETS_IDS=stub-spreadsheet-id
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=secrets/google_sa.json.example
GOOGLE_SHEETS_TAB=stocks_coefs

# Cron
WB_CRON=0 * * * *
SHEETS_CRON=*/10 * * * *
WB_TZ=Europe/Moscow
