# режим окружения
ENV_FILE=
NODE_ENV=
NODE_VERSION=23
MODE=DEVELOPMENT

# сервис
APP_NAME=

# порты
APP_PORT=3000
APP_EXTERNAL_PORT=3000

# Postgres 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_HOST=

# WB / Google
WB_API_TOKEN=
GOOGLE_SHEETS_IDS=
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=
GOOGLE_SHEETS_TAB=